In [1]:
pip install pycountry

Requirement already satisfied: pycountry in /usr/local/lib/python3.6/dist-packages (19.8.18)

In [0]:
import pandas as pd
import numpy as np
import pycountry

In [3]:
english_tweet_country = pd.read_csv('english_country_labels_updated.csv')
english_tweet_country.head(5)

   Unnamed: 0  ...            English_Country
0           0  ...                    Romania
1           2  ...                     Norway
2           3  ...                    Germany
3           6  ...   United States of America
4           7  ...                   Colombia

[5 rows x 4 columns]

In [0]:
english_tweet_country['country_code'] = pd.Series('')

for index, row in english_tweet_country.iterrows():
  country = row['English_Country']
  country = country.strip("'")
  country = country.strip()

  country_object = pycountry.countries.get(name = country)

  if country_object is None:
    country_object1 = pycountry.countries.get(official_name = country)
    if country_object1 is None:
      row['country_code'] = np.nan
    else:
      row['country_code'] = country_object1.alpha_2
  else: 
    row['country_code'] = country_object.alpha_2 
  english_tweet_country.at[index,'country_code'] = row['country_code']

In [5]:
english_tweet_country.head(5)

   Unnamed: 0  ... country_code
0           0  ...           RO
1           2  ...           NO
2           3  ...           DE
3           6  ...           US
4           7  ...           CO

[5 rows x 5 columns]

In [6]:
df_liwc = pd.read_csv("../CleanedTweetsInfo_LIWC.csv")
df_liwc.head(5)

   A  B  C                               D  ... negemo  anx anger  sad
0  0  0  0  Sat Feb 29 09:48:39 +0000 2020  ...    0.0  0.0   0.0  0.0
1  1  1  1  Fri Mar 06 20:08:36 +0000 2020  ...    0.0  0.0   0.0  0.0
2  3  3  3  Wed Mar 04 22:11:27 +0000 2020  ...    0.0  0.0   0.0  0.0
3  4  4  4  Fri Mar 20 20:30:31 +0000 2020  ...    0.0  0.0   0.0  0.0
4  5  5  5  Sat Mar 07 05:55:33 +0000 2020  ...    0.0  0.0   0.0  0.0

[5 rows x 20 columns]

In [0]:
merged_df = pd.merge(df_liwc,english_tweet_country, how='left', left_on='M',
                                           right_on='Geo_Country')
merged_df = merged_df.drop(['Unnamed: 0'], axis=1)
merged_df = merged_df.drop_duplicates()


merged_df.head(20)
merged_df.to_csv("output.csv")