In [2]:
pip install pycountry

Requirement already satisfied: pycountry in /usr/local/lib/python3.6/dist-packages (19.8.18)

In [0]:
import pandas as pd
import numpy as np
import pycountry

In [4]:
english_tweet_country = pd.read_csv('english_country_labels_updated.csv')
english_tweet_country.head(5)

   Unnamed: 0  ...            English_Country
0           0  ...                    Romania
1           2  ...                     Norway
2           3  ...                    Germany
3           6  ...   United States of America
4           7  ...                   Colombia

[5 rows x 4 columns]

In [5]:
def get_country_code(country):
    country = country.strip("'")
    country = country.strip()
    country_object = pycountry.countries.get(name=country)
    if country_object is None:
        country_object1 = pycountry.countries.get(official_name=country)
        if country_object1 is None:
            return np.nan
        else:
            return country_object1.alpha_2
    else:
        return country_object.alpha_2


english_tweet_country['country_code'] = english_tweet_country['English_Country'].apply(get_country_code)
english_tweet_country.drop('Unnamed: 0', inplace=True, axis=1)
english_tweet_country.drop_duplicates(ignore_index=True)
print(english_tweet_country)

                                               Geo_Place  ... country_code
0      Autoprotect conectica auto, 144, Șoseaua Pante...  ...           RO
1                        Norge, Namsos, Trøndelag, Norge  ...           NO
2                                    Bayern, Deutschland  ...           DE
3      Little Philadelphia Road, Brass Castle, Oxford...  ...           US
4             Bogotá, Distrito Capital, 110321, Colombia  ...           CO
...                                                  ...  ...          ...
14512  Northern, Deer Lake, Newfoundland, Newfoundlan...  ...           CA
14513  Bailando, Via Nino Bixio, Dossetto, Villafranc...  ...           IT
14514      Baltimore, Maryland, United States of America  ...           US
14515  San Isidro, Partido de San Isidro, Buenos Aire...  ...           AR
14516                                     Nairobi, Kenya  ...           KE

[14517 rows x 4 columns]

In [6]:
df_liwc = pd.read_csv("CleanedTweetsInfo_LIWC.csv")
df_liwc.head(5)

   A  B  C                               D  ... negemo  anx anger  sad
0  0  0  0  Sat Feb 29 09:48:39 +0000 2020  ...    0.0  0.0   0.0  0.0
1  1  1  1  Fri Mar 06 20:08:36 +0000 2020  ...    0.0  0.0   0.0  0.0
2  3  3  3  Wed Mar 04 22:11:27 +0000 2020  ...    0.0  0.0   0.0  0.0
3  4  4  4  Fri Mar 20 20:30:31 +0000 2020  ...    0.0  0.0   0.0  0.0
4  5  5  5  Sat Mar 07 05:55:33 +0000 2020  ...    0.0  0.0   0.0  0.0

[5 rows x 20 columns]

In [0]:
merged_df = pd.merge(df_liwc, english_tweet_country, how='left', left_on='M',
                     right_on='Geo_Country')
merged_df = merged_df.rename(columns={'A':'Unnamed: 0','B':'Unnamed: 0.1', 'C':'Unnamed: 0.1.1',
                                      'D':'Tweet_time', 'E':'Tweet_id', 'F':'Tweet_content','G':'UserId',
                                      'H':'UserLocation','I':'FollowerCount','J':'RetweetTime','K':'date', 
                                      'L':'Tweet_Place_x', 'M':'Geo_Country_y',
                                      'WC':'WC','affect':'affect', 'posemo':'posemo',
                                      'negemo':'negemo','anx':'anx','anger':'anger',
                                      'sad':'sad','country_code':'country_code'})

merged_df = merged_df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'], axis=1)
merged_df = merged_df.drop_duplicates(ignore_index=True, subset='Tweet_id')
merged_df.set_index(merged_df['Tweet_id'],inplace=True)
merged_df.head(20)
merged_df.to_csv("../final_LIWC_categories.csv")